body{
	margin:0;
	padding:0;
	background: #f5f5f5f5;
	color:#333;
}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{
	moz-user-select: -moz-none; 
	-moz-user-select: none; 
	-o-user-select:none; 
	-khtml-user-select:none; 
	-webkit-user-select:none; 
	-ms-user-select:none; 
	user-select:none;
}
.scrollY-hiden{
	overflow: hidden;
	height: 100%;
}
input,textarea,button{
-webkit-appearance: none;
}
a{text-decoration: none;color:#333;}
.color-desc{
	color:#bbb;
}
.color-primary{
	color:#3cc776;
}
.color-danger{
	color:#ef4f4f;
}
.bg-white{
	background-color:#fff;
}
.text-justify{
	text-align: justify;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.fontsize-normal{
	font-size: 14px;
}
.fontsize-small{
	font-size: 12px;
}
.page-header-main{
	margin-top: 44px;
}
.mr-10{
	margin:10px;
}
.mrt-10{
	margin-top: 10px;
}
.mrr-10{
	margin-right: 10px;
}
.mrl-10{
	margin-left: 10px;
}
.mrt-20{
	margin-top: 20px;
}
.mrt-50{
	margin-top: 50px;
}
.pd-10{
	padding:10px;
}
.pdb-50{
	padding-bottom: 50px;
}
.pdt-0{
	padding-top:0;
}
.pdt-10{
	padding-top:10px;
}
.pdl-5{
	padding-left:5px;
}
.pdr-5{
	padding-right: 5px;
}

.echart-tooltip{
	padding:10px;
	
}
.echart-tooltip p{
	padding:0;
	margin:0;
}

.table{
	width: 100%;
}
.table.table-striped tr:nth-child(2n){
	background:#f9f5ea;
}
.table th{
	background:#eee;
}
.table th,.table td{
	font-size: 14px;
	padding:10px;
	border-bottom: 1px #eee solid;
}

.baby-record-popup{
	width: 90%;
}
.baby-record-form{
	width: 100%;
	padding:10px;
	box-sizing:border-box;
	background-color:#f5f5f5f5;
}
.baby-record-form .picker{
	background-color:#fff;
}
.baby-record-form .picker-center-highlight:before,
.baby-record-form .picker-center-highlight:after{
	background-color:#f5f5f5 !important;
	-webkit-transform: scaleY(1) !important;
    transform: scaleY(1) !important; 
}

.baby-record-form .picker-items{
	border:1px #f5f5f5 solid;
}
.baby-record-form .form-title{
	height:14px;
	line-height: 14px;
	padding:0;
	overflow: hidden;
	display: inline-block;
}

.headPic-big{
	width: 96px;
	height:96px;
	margin:0 auto;
	text-align: center;
	line-height: 96px;
	background: #ffff;
	border-radius: 4px;
	overflow: hidden;
	font-size: 0;
}
.headPic-big .img-bg{
	width: 96px;
	height: 96px;
	background-size: cover;
}

.headPic-normal{
	width: 64px;
	height:64px;
	margin:0 auto;
	text-align: center;
	line-height: 64px;
	background: #ffff;
	border-radius: 1px;
	overflow: hidden;
	font-size: 0;
}
.headPic-normal .img-bg{
	width: 64px;
	height: 64px;
	background-size: cover;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to{
  opacity: 0
}
.fade-enter-active,.fade-leave-active{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}